.article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.article:hover {
  background-color: whitesmoke;
}

.articleLeft {
  color: #0177b7;
  margin-right: 5px;
}
.articleRight {
  flex: 1;
}

.articleRight > h4 {
  font-size: 14px;
}
.articleRight > p {
  font-size: 12px;
  color: gray;
}
