.sidebar {
  top: 80px;
  position: sticky;

  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.siebarAvatar {
  margin-bottom: 10px;
}
.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid whitesmoke;
  border-bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebarTop > h2 {
  font-size: 18px;
}
.sidebarTop > h4 {
  font-size: 12px;
  color: gray;
}
.siebarAvatar {
}

.sidebarTopBackImg {
  margin-bottom: -10px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebarStats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebarStat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebarStat > p {
  color: gray;
  font-weight: 600;
  font-size: 13px;
}

.sidebarStatNumber {
  font-weight: bold !important;
  color: #0a66c2 !important;
}

.sidebarBottom {
  text-align: left;
  padding: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;

  margin-top: 10px;
}

.sidebarBottomTitle {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}
